<!-- ============================================== HEADER ============================================== -->
<header class="header-style-1">
  <!-- ============================================== TOP MENU ============================================== -->
  <div class="top-bar animate-dropdown">
    <div class="container">
      <div class="header-top-inner hidden">
        <div class="cnt-account">
          <ul class="list-unstyled">
            <li><a href="javascript:;"><i class="icon fa fa-user"></i>My Account</a></li>
            <li><a href="javascript:;"><i class="icon fa fa-heart"></i>Wishlist</a></li>
            <li><a href="javascript:;"><i class="icon fa fa-shopping-cart"></i>My Cart</a></li>
            <li><a href="javascript:;"><i class="icon fa fa-check"></i>Checkout</a></li>
            <li><a href="javascript:;"><i class="icon fa fa-lock"></i>Login</a></li>
          </ul>
        </div>
        <!-- /.cnt-account -->
        <div class="cnt-block">
          <ul class="list-unstyled list-inline">
            <li class="dropdown dropdown-small">
              <a href="javascript:;" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"><span class="value">USD </span><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="javascript:;">USD</a></li>
                <li><a href="javascript:;">INR</a></li>
                <li><a href="javascript:;">GBP</a></li>
              </ul>
            </li>
            <li class="dropdown dropdown-small">
              <a href="javascript:;" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"><span class="value">English </span><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="javascript:;">English</a></li>
                <li><a href="javascript:;">French</a></li>
                <li><a href="javascript:;">German</a></li>
              </ul>
            </li>
          </ul>
          <!-- /.list-unstyled -->
        </div>
        <!-- /.cnt-cart -->
        <div class="clearfix"></div>
      </div>
      <!-- /.header-top-inner -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.header-top -->
  <!-- ============================================== TOP MENU : END ============================================== -->
  <div class="main-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 logo-holder visible-lg visible-md visible-sm">
          <!-- ============================================================= LOGO ============================================================= -->
          <div class="logo">
            <a href="#">
              <img src="./assets/images/logo.png" alt="">
            </a>
          </div>
          <!-- /.logo -->
          <!-- ============================================================= LOGO : END ============================================================= -->
        </div>
        <!-- /.logo-holder -->
        <div class="col-xs-12 col-sm-12 col-md-9 top-search-holder visible-lg  visible-md  visible-sm">
          <!-- /.contact-row -->
          <!-- ============================================================= SEARCH AREA ============================================================= -->
          <div class="search-area">
            <form>
              <div class="control-group">
                <input class="search-field" placeholder="Search here...">
                <a class="search-button" href="javascript:;"></a>
              </div>
            </form>
          </div>
          <!-- /.search-area -->
          <!-- ============================================================= SEARCH AREA : END ============================================================= -->
        </div>
        <!-- /.top-search-holder -->
        <div class="col-xs-12 col-sm-12 col-md-2 animate-dropdown top-cart-row"  style="display:none;">
          <!-- ============================================================= SHOPPING CART DROPDOWN ============================================================= -->
          <div class="dropdown dropdown-cart">
            <a href="javascript:;" class="dropdown-toggle lnk-cart" data-toggle="dropdown">
              <div class="items-cart-inner">
                <div class="basket">
                  <i class="glyphicon glyphicon-shopping-cart"></i>
                </div>
                <div class="basket-item-count"><span class="count">2</span></div>
                <div class="total-price-basket">
                  <span class="lbl">cart -</span>
                  <span class="total-price">
                                 <span class="sign">$</span><span class="value">600.00</span>
                                 </span>
                </div>
              </div>
            </a>
            <ul class="dropdown-menu">
              <li>
                <div class="cart-item product-summary">
                  <div class="row">
                    <div class="col-xs-4">
                      <div class="image">
                        <a href="http://themesground.com/hexino/V2/detail.html"><img src="./images/cart.jpg" alt=""></a>
                      </div>
                    </div>
                    <div class="col-xs-7">
                      <h3 class="name"><a href="http://themesground.com/hexino/V2/index.php?page-detail">Simple Product</a></h3>
                      <div class="price">$600.00</div>
                    </div>
                    <div class="col-xs-1 action">
                      <a href="javascript:;"><i class="fa fa-trash"></i></a>
                    </div>
                  </div>
                </div>
                <!-- /.cart-item -->
                <div class="clearfix"></div>
                <hr>
                <div class="clearfix cart-total">
                  <div class="pull-right">
                    <span class="text">Sub Total :</span><span class="price">$600.00</span>
                  </div>
                  <div class="clearfix"></div>
                  <a href="http://themesground.com/hexino/V2/checkout.html" class="btn btn-upper btn-primary btn-block m-t-20">Checkout</a>
                </div>
                <!-- /.cart-total-->
              </li>
            </ul>
            <!-- /.dropdown-menu-->
          </div>
          <!-- /.dropdown-cart -->
          <!-- ============================================================= SHOPPING CART DROPDOWN : END============================================================= -->
        </div>
        <!-- /.top-cart-row -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.main-header -->

  <!-- ============================================== NAVBAR ============================================== -->
  <div class="header-nav animate-dropdown">
    <div class="container">
      <div class="yamm navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button data-target="#mc-horizontal-menu-collapse" data-toggle="collapse" class='navbar-toggle collapsed'  type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="logo-mobile visible-xs">
            <img src="./assets/images/logo.png" alt="">
          </a>
        </div>
        <div class="nav-bg-class">
          <div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
            <div class="nav-outer">
              <ul class="nav navbar-nav">
                <li class="dropdown yamm mega-menu" *ngFor="let branch of branchs">
                  <a href="javascript:;" data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown">{{branch.name}}</a>
                  <ul class="dropdown-menu container">
                    <li>
                      <div class="yamm-content">
                        <div class="row">
                          <div class="col-xs-12 col-sm-6 col-md-{{branch.cols}} col-menu" *ngFor="let s of branch.keys" on-mouseenter='over()'>
                            <h2 class="title">{{s}}</h2>
                            <ul class="links">
                              <li><a href="javascript:;" *ngFor="let st of branch.categories[s] | keyValueFilter"   (click)="onSelect(st.key, s, branch.id);">{{st.key}}</a></li>
                            </ul>
                          </div>

                          <!-- /.col -->

                          <!-- /.yamm-content -->
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>

              </ul>
              <!-- /.navbar-nav -->
              <div class="clearfix"></div>
            </div>
            <!-- /.nav-outer -->
          </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.nav-bg-class -->
      </div>
      <!-- /.navbar-default -->
    </div>
    <!-- /.container-class -->
  </div>
  <!-- /.header-nav -->

  <!-- /#top-banner-and-menu -->
  <script src="./assets/js/bootstrap-hover-dropdown.min.js"></script>
</header>
<!-- ============================================== HEADER : END ============================================== -->

<div class="main-content">
<!-- ============================================== CONTENT ============================================== -->
<div class="col-xs-12 col-sm-12 col-md-12 homebanner-holder">

  <product-list></product-list>
</div>
<!-- /.homebanner-holder -->
<!-- ============================================== CONTENT : END ============================================== -->
</div>
