<div class="visible-lg visible-md visible-sm" style="height: 155px;"></div>
<div class="visible-xs" style="height: 75px;"></div>
<!-- ============================================== BEST SELLER ============================================== -->
<div class="new-arrivals wow fadeInUp outer-bottom-xs animated" style="visibility: visible; animation-name: fadeInUp;">
  <div class="more-info-tab clearfix ">

  </div>
  <div class="tab-content sidebar-widget-body outer-top-xs">
    <div class="best-seller outer-top-xs" style="opacity: 1; display: block;" *ngIf="products">

      <div class="item col-xs-6 col-sm-3" *ngFor="let product of products">
        <div class="products best-product">
          <div class="product">
            <div class="product-micro">
              <div class="row product-micro-row">
                  <div class="product-image">
                    <div class="image">
                      <img src="{{product.image}}" alt="">
                    </div>
                    <div class="sale-offer-tag" *ngIf="product.max_sale_rate">
                      <span>{{product.max_sale_rate}}%<br>off</span>
                    </div>
                    <!-- /.image -->
                  </div>
                  <!-- /.product-image -->

                  <div class="product-info">
                    <h3 class="name"><a href="javascript:;">{{product.name}}</a></h3>
                    <div class="product-price" *ngFor="let detail of product.details">
                      <a href="{{detail.url}}" target="_blank" style="color: #428bca;"><span class="country">{{detail.country}}</span></a>
                        <span class="price">{{detail.item_price | currency:'VND':true:'1.0-2'}}</span>
                        <span class="price-before-discount">{{detail.old_price | currency:'VND':true:'1.0-2'}}</span>
                    </div>
                    <!-- /.product-price -->
                  </div>

                <!-- /.col -->
              </div>
              <!-- /.product-micro-row -->
            </div>
            <!-- /.product-micro -->
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="best-seller outer-top-xs" style="opacity: 1; display: block;" *ngIf="!products">
      No product
    </div>
  </div>
  <!-- /.sidebar-widget-body -->
</div>
<!-- /.sidebar-widget -->
<!-- ============================================== BEST SELLER : END ============================================== -->
