<style>
  .dropdown-toggle:hover .first-menu,  .last-menu:hover .links{
    display: block;
  }
  .dropdown:hover{
    background-color: #eee;
  }
  .links.dropdown-menu{
    left: 100%;
    top:0;
  }
</style>
<div class="navbar navbar-default" role="navigation">
<div class="nav-bg-class">
  <div class="navbar-collapse" id="mc-horizontal-menu-collapse">
    <div class="nav-outer">
      <ul class="lo navbar-nav">
        <li class="dropdown dropdown-toggle" *ngFor="let s of keys"data-toggle="dropdown">
          <a href="javascript:;">{{s}}</a>
          <ul class="dropdown-menu first-menu">
            <li *ngFor="let st of cats[s] | keyValueFilter">
              <a href="javascript:;"  (click)="onSelect(st.key, s)">{{st.key}}</a>
                <!--<a href="javascript:;" *ngIf="st.value.hasOwnProperty('id')" (click)="onSelect(st.value.id)">{{st.key}}</a>

                <a  *ngIf="!st.value.hasOwnProperty('id')" href="javascript:;" class="sub-menu">{{st.key}}</a>

                <ul class="links dropdown-menu"  *ngIf="!st.value.hasOwnProperty('id')">
                  <li *ngFor="let nav of st.value | keyValueFilter">
                    <a href="javascript:;" (click)="onSelect(nav.value.id)">{{nav.key}}</a>
                  </li>

                </ul>-->

            </li>
          </ul>
        </li>

       </ul>
<!-- /.navbar-nav -->

      <div class="clearfix"></div>
    </div>
  </div>
</div>
</div>


<product-list></product-list>
